<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Lista de Clientes</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Idade</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${clientes}">
				<td><span th:text="${cliente.id}"></span></td>
				<td><span th:text="${cliente.nome}"></span></td>
				<td><span th:text="${cliente.idade}"></span></td>
			</tr>
		</tbody>

	</table>
	<br/>
	<a href="/logout">Sair</a>
</body>


</html>