<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Login</title>
</head>

<body>
	<div>
		<div>
			<div th:if="${param.error}">
				<div class="alert alert-danger"
					th:text="'Usuário e/ou inválidos!'">Usuário e/ou Senha inválidos!</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Digite seus dados de usuario:</h3>
				</div>
				<div class="panel-body">
					<form th:action="@{/login}" method="post">
						<div class="form-group">
							<input name="username" class="form-control" placeholder="Usuário" />
						</div>

						<div class="form-group">
							<input type="password" name="password" class="form-control"
								placeholder="Senha" />
						</div>

						<div class="form-group">
							<button class="btn btn-primary btn-block">Entrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
